.contact {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2.75rem;
}
.contact-img-wrapper {
  width: 100%;
}
.contact-img {
  max-width: 50%;
}

.contact-data {
  display: flex;
  justify-content: center;
  gap: 3.75rem;
  align-items: flex-start;
  flex-direction: column;
}

.contact-data > span:nth-child(1) {
  font-size: 0.6875rem;
  font-weight: bold;
  letter-spacing: 0.25rem;
  font-family: 'League Spartan';
  color: var(--text-gray);
  text-transform: uppercase;
  text-align: left;
}
.contact-data > span:nth-child(2) {
  font-size: 2rem;
  font-family: 'Playfair Display';
  color: var(--text-title);
  font-weight: bold;
  padding-left: 2.8125rem;
  letter-spacing: 0.0313rem;
  text-align: left;
}
