.link {
  cursor: pointer;
  position: relative;
  text-align: center;
  padding-bottom: 0.625rem;
  width: max-content;
}

.link {
  background: linear-gradient(white, white 50%, #5da8ef 50%, #5da8ef);
  background-size: 100% 190%;
  transition: all 500ms ease-in-out;
}

.link:hover {
  background-position: 100% 100%;
  background-size: 100% 200%;
}

a {
  font-size: 0.6875rem;
  position: relative;
  font-family: 'League Spartan';
  color: rgb(51, 51, 51);
  font-weight: 800;
  letter-spacing: 0.3125rem;
  text-transform: uppercase;
  text-align: center;
  transition: all 500ms ease-in-out;
}
